
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle, rgba(197,238,174,0.5047268907563025) 0%, rgba(148,187,233,0.5187324929971988) 100%);
}

.card {
    position: absolute;
    width: 500px;
    /* max-width: 500px; */
    height: 500px;
    /* max-height: 500px; */
    padding: 2rem;
    border: 1px solid rgb(56, 40, 40);
    box-shadow: 0 2px 4px rgb(56, 40, 40);
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1709983965542-624ea28b1be2?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3F1YXJlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: 500px;
    
}

.overlay {
    position: relative;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, rgba(197,238,174,0.5047268907563025) 0%, rgba(148,187,233,0.5187324929971988) 100%);
}

h1 {
    text-align: center;
    font-family: "WindSong", serif;
    font-size: xx-large;
    letter-spacing: 2px;
    color: rgb(56, 40, 40);

}

button {
    position: relative;
    top: 170px;
    left: 165px;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: peachpuff;
    color: rgb(56, 40, 40);
    font-weight: bold;
    letter-spacing: 1px;
}

.badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: 152px;
    left: 153px;
    letter-spacing: 1px;
}

/* Media queries for responsiveness. Not completely clear on this. */
@media (max-width: 500px) {
    .card {
        width: 95%;
        padding: 1rem;
        font-size: 1.4rem;
    }
}

@media (max-width: 480px) {
    .card {
        width: 98%;
        padding: 0.8rem;
        font-size: 1.2rem;
    }
}